.relatedPosts {
  margin-top: 2.5rem;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 1.75rem;
}

.title {
  margin-bottom: 0.8rem;
  color: var(--vp-c-text-1);
  font-family: "Lato", sans-serif;
}
