.card {
    min-height: 100px;
    padding: 8px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 auto 16px;
}

.title {
    margin: 16px auto;
}

.icon {
    height: 128px;
    width: 182px;
    margin: 0 auto;
    display: block;
}
.description {
    text-align: center;
    margin: 16px;
}
