.pager {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.pager a {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    align-items: center;
    justify-items: center;
}
.pager img {
    width: 56px;
    height: 56px;
}