.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 64px);
    padding: 32px;

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(0%);
}

.children {
    flex: 0 0 auto;
    margin: 0 auto;
}

.tagLine {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.tagLineContainer {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;

    color: rgba(255, 255, 255, 0.0);
    transition: color 1s ease-in;
    text-align: center;
    align-items: center;
}

.tagLineVisible {
    color: rgba(255, 255, 255, 0.85);
}
