.container {
    height: calc(100vh - 64px);

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/img/mountains-dark-2.jpg');

    @apply w-full flex flex-col text-white justify-center items-center;
}
